#divhead {
    overflow-y: scroll;
    height: 100vh;
}

#divhead th {
    position: sticky;
    top: 0;
    background: rgb(220,220,223);
}

#tabhead {
    position: sticky;
}

input, select{border: 1px solid var(--inputbordercolor)!important;}

.flexcontainer{display:flex;justify-content: left;align-items: center;margin-top:20px;}
.flexcontent{}
.flexcontentleft{width:100px;}
.flexcontentright{margin-left:10px;display:block;width:50px;text-align:left;}
.clipboardCPValue{display:block;width:350px;}
.colorbuble{display:inline-block;padding:10px;border-radius:3px;}